name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  NODE_VERSION: "20"

jobs:
  lint:
    name: Check linting problems
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      
      - name: Install eslint
        run: npm install -g eslint

      - name: Run linter
        run: npm run lint

  unit-testing:
    name: Run unit testing
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install global dependencies
        run: npm install -g pm2

      - name: Install local dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Update coverage report
        uses: coverallsapp/github-action@master
        if: matrix.node-version == env.NODE_VERSION
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
